
section{
	width: 80%;
	height: 500px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid;
	font-size: 0;
}
section div{
	display: inline-block;
	border: 1px solid;
	background: #fff;
	width: 40%;
	height: 80%;
	margin: 0 4%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.select{
	background: #00f;
}