#show-area{
	height: 400px;
	text-align: center;
}
#show-area:before{
	content: "x";
	display: inline-block;

	height: 100%;
	visibility: hidden;
}
.showData{
	border: 1px solid;
	background: #f00;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	line-height: 2em;
	text-align: center;
	vertical-align: bottom;
	width: 16px;
}
.showData.sorting{
	background: #0f0;
}
.showData.sorted{
	background: #00f;
}
.showData.sorted.serching{
	background: #000;
}
.select{
	font-size: 30px;
} 