label{
	font:caption;
	font-size: 2em;
}
input[type='text']{
	font-size: inherit;
}
input[type='text']:focus{
	box-shadow: outset 1px 1px 3px #009;
}
textarea{
	display: block;
}
.show span {
	/*display: inline-block;*/
	float: left;
	font-size: 1em;
	padding: 0 0 0 2em;
	min-width: 2em;
	height: 2em;
	line-height: 2em;
	background: #009;
	color: #ff0;
	margin-left: .5em;
	border-radius: 5px;
	border: 1px solid;
}
.show span:hover{

}
.show span:hover::before{
	content: "删除";
	margin-left: -2em;
	color: #fff;
	font-weight: bold;
	background: #900;
}
