
section{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	border: 1px solid;

}
section div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	height: 80%;
	margin: 1em;
	border: 1px solid;
}

.select{
	background: #00f;
}

.find{
	background: #ff0;
}