
section{
	height: 500px;
	margin: 0 auto;
	border: 1px solid;

}


label{
	display: inline-block;
	text-align: right;
	width: 5em;
}


.node{
	/*position: relative;*/
	/*border: 1px solid;*/
}

.node>.node{
	margin-left: 2em;
}

.node>h1{
	font-size: 1em;
	margin: 0;
	padding-left: 2em;
}

.content{
	display: inline-block;
	min-width: 5em;
	cursor: pointer;
}

.select>h1 .content{
	background: #ccf;
}

.light>h1 .content{
	background: #663;
}

.closeBranch,.openBranch{
	
}

.closeBranch>div{
	display: none;
}

.row.closeBranch>h1 .content::before,.row>h1 .content::before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;

	position: absolute;
	margin-left: -1em;
	margin-top: .5em;
	border-style: solid;
	cursor: pointer;
}
.row>h1 .content::before{
	border-width: .5em .2em 0 .2em;
	border-color: #366 transparent transparent transparent;
}
.row.closeBranch>h1 .content::before{
	border-width: .2em 0 .2em .4em;
	border-color: transparent transparent transparent #366;
}





/*辅助工具*/
.add,.remove{
	display: none;
	margin-left: 1em;
	cursor: pointer;

}
.add::before,.remove::before{
	content: "+";
}
.remove{
	transform: rotateZ(-45deg);
}
.node>h1:hover>.add,.node>h1:hover>.remove{
	display: inline-block;
}
.root>h1:hover>.remove{
	display: none;
}
