
section{

	margin: 0 auto;
	border: 1px solid;

}


label{
	display: inline-block;
	text-align: right;
	width: 5em;
}


.node{
	/*position: relative;*/
	/*border: 1px solid;*/
}

.node>.node{
	margin-left: 2em;
}

.node>h1{
	font-size: 1.5em;
	margin: .5em;
	padding-left: 2em;
}

.content{
	display: inline-block;
	min-width: 5em;
	cursor: pointer;
}

.select>h1 .content{
	background: #ccf;
}

.light>h1 .content{
	background: #663;
}

.closeBranch,.openBranch{
	
}

.closeBranch>div{
	display: none;
}

.row.closeBranch>h1 .content::before,.row>h1 .content::before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;

	position: absolute;
	margin-left: -1em;
	margin-top: .5em;
	border-style: solid;
	cursor: pointer;
}
.row>h1 .content::before{
	border-width: .5em .2em 0 .2em;
	border-color: #366 transparent transparent transparent;
}
.row.closeBranch>h1 .content::before{
	border-width: .2em 0 .2em .4em;
	border-color: transparent transparent transparent #366;
}





/*添加、删除按钮*/
.add,.remove{
	display: none;
	margin-left: 1em;
	padding: 0 .5em;
	cursor: pointer;

}
.add::before,.remove::before{
	content: "+";
}
.remove{
	transform: rotateZ(-45deg);
}
.node>h1:hover>.add,.node>h1:hover>.remove{
	display: inline-block;
}
.root>h1:hover>.remove{
	display: none;
}

/*面板*/
.panel{
	border: 1px solid;
}

.window{
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.7);
}

.window div{
	position: fixed;
	left: 2em;
	right: 2em;
	top: 20%;
	height: 5em;
	padding: 2em;
	background: #fff;
	z-index: 1;
}
.hidden{
	display: none;
}
