@charset "UTF-8";
/**
 * 目录：
 * 1、CSS reset
 * 2、通用样式库
 * 3、网站样式库
 * 4、网站CSS sprite
 * 5、网站通用小图标样式
 * 6、网站通用导航栏样式
 * 7、网站通用按钮样式
 * 8、网站通用选项卡样式
 * 9、网站通用文本框等控件样式
 * 10、网站通用分页样式及其他通用样式
 * 11、网站通用结构主体样式
 * 12、单页面精细结构样式
 */

/**
 * 1、CSS reset
 */
body{
	margin: 0;
}



/**
 * 3、网站样式库
 */
body{
	font: 16px/1.7 "Microsoft YaHei",SimSun,sans-serif;
	background: #eee;
}


/**
 * 11、网站通用主体结构样式
 *
 * 11.1、header部分开始
 */
header{
	overflow: hidden;
	background: #088;
}
header .logo{
	background: url(../img/picture2.png) no-repeat center;
	background-size: contain;
	width: 10em;
	height: 4em;
	float: left;
}
nav ul{
	float: right;
	padding-right: 2em;
	text-align: right;
}
nav li{
	display: inline-block;
	margin: 0 1em;
}
nav li a{
	color:white;
	text-decoration: none;
}
nav li a:visited{
	color:#999;
}
/**
 * 11.1、header部分结束
 * 11.2、container部分开始
 */
main{
	margin-right: 500px;
	float: left;
}
article{
	background: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: 2px 2px 2px #999;
	box-shadow: 2px 2px 2px #999;
	padding: 2em;
	margin: 2em;
}
article h2{
	color:#999;
	font-size: 1em;
}
article>span,time{
	font-size: 0.8em;
	color: #999;
}
article p{
	text-indent: 2em;
}
article ul{
	list-style-type: none;
}
article figure{
	border: 1px solid;
	text-align: center;
	width: 10em;
	display: inline-block;
}
figure img{
	width: 8em;
	height: 8em;
}
table{
	width: 100%;
	/*设置表格边框间的距离*/
	border-spacing: 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 0 0 1px;
}
td{
	padding: 0 0.5em;
	border-style: solid;
	border-color: #ccc;
	border-width: 0 1px 1px 0;
}
thead{
	font-weight: bold;
	background: #333;
	color:#ccc;
}
tfoot{
	font-weight: bold;
	background: #ccc;
}
/**
 * 11.2、container部分结束
 * 11.3、aside部分开始
 */
aside{
	background: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: 2px 2px 2px #999;
	box-shadow: 2px 2px 2px #999;
	padding: 2em;
	margin-top: 2em;

	width: 400px;
	float: left;
	margin-left: -500px;
}

aside h1{
	border-style: solid;
	border-color: #ccc;
	border-width: 0 0 0 4px;
}

aside form label{

}
aside form .name{
	margin-right: 1em;
	display: inline-block;
	width: 8em;
	text-align: right;
}
aside form .tip{
	padding-left: 9.2em;
	margin-bottom: 1em;
	color: #ccc;
}
aside form textarea{
	width: 50%;
	height: 5em;
	vertical-align: top;
}
aside form button{
	display: block;
	width: 100%;
	font-size: 1.2em;
	margin-top: 0.5em;
	padding: 0.5em;
	color:#fff;
	background: #33c;
	border: 1px solid;
	border-radius: 0.5em;
}

/**
 * 11.3、aside部分结束
 * 11.4、footer部分开始
 */
footer{
	clear: both;
	background: #000;
	color: #fff;
	padding: 1em;
	text-align: center;
}


/**
 * 12、页面精细样式
 */
