

#task28{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;right: 0;
	top: 0;bottom: 0;
	background: #333;
}

.planet{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: #66f;
	margin: 0 auto;

	position: absolute;
	top: 50%;left: 50%;
	transform: translate(-50%,-50%);
	
}

.point{
	width: 0;
	height: 0;

	position: absolute;
	left: 50%;
	top: 50%;
}

.ship>span{
	width: 50px;
	height: 20px;
	border-radius: 5px;
	background: #f66;

	position: absolute;
	/*居中*/
	transform: translate( -50% , -50% );

}


.select,.control,.shipsState {
	/*position: absolute;*/

	color: #ff6;
	border: 1px solid;

}
.control,.shipsState{
	width: 25em;
	height: 200px;
	float: left;
}
.control span{
	display: inline-block;
	width: 11em;
}
.shipsState table,.shipsState table td{
	border: 1px solid #9f9;
}
.shipsState table thead{
	background: #663;
}
.console{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 400px;
}
.bar{
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background: #336;
	cursor: move;
}
.log{
	height: 400px;
	background: #363;
	color: #fff;
	opacity: .5;
	overflow: auto;
}
.log p{
	margin: 0;
}
.log p span {
	font-family: monospace;
	display: inline-block;
	text-align: right;
	padding: 0 .5em;
	width: 2em;
}
